* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}


header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 100px;
  background-color: rgb(206, 185, 185);

  a {
    padding: 20px;
  }
}

main {
 flex-grow: 1;
}